body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chatbot {
    background-color: bisque; /* Set the background color to bisque */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.chat-message.bot-message {
    background-color: green; /* Set the background color of bot messages to green */
    color: #fff; /* Text color for bot messages */
}
.chat-header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

.chat {
    margin: 10px 0;
}

.chat-message {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
}

.bot-message {
    text-align: left;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    flex-grow: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
